# komtik10garut.css
CSS
<--created by Dzikri@jungleware


div.blue {
		background-color: #120767;
		width: 100px;
		height: 100px;
		position: fixed;
		margin-top: 20px;
		margin-left: 20px;
		border-radius: 50px 50px 0 0;
		border: 2px solid black;
	}
div.yellow {
		background-color: #E8F604;
		width: 100px;
		height: 100px;
		margin-top: 91px;
		margin-left: 91px;
		position: fixed;
		border-radius: 0 0 50px 0;
		border: 2px solid black;
	}
div.green {
		background-color: #1FA209;
		width: 100px;
		height: 100px;
		margin-top: 20px;
		margin-left: 91px;
		position: fixed;
		border-radius: 0 50px 50px 0;
		border: 2px solid black;
	} 
div.red {
		background-color: #ED1717;
		width: 100px;
		height: 100px;
		margin-top: 91px;
		margin-left: 20px;
		position: fixed;
		border-radius: 50px 0 50px 50px;
		border: 2px solid black;
	}
div.box{
		background-color: #FFFFFF;
		width: 125px;
		height: 125px;
		margin-top: 45px;
		margin-left: 45px;
		position: fixed;
		border-radius: 35px 35px 35px 35px;
		border: 2px solid black;
	}
div.roundy {
		background-color: E8F604;
		width: 40px;
		height: 40px;
		margin-top: 160px;
		margin-left: 160px;
		position: fixed;
		border-radius: 50px 50px 50px 50px;
		border: 2px solid black;
	}
div.roundg {
		background-color: 1FA209;
		width: 40px;
		height: 40px;
		margin-top: 10px;
		margin-left: 160px;
		position: fixed;
		border: 2px solid black;
		border-radius: 25px 25px 25px 25px;
	}
div.roundb {
		background-color: #120767;
		width: 40px;
		height: 40px;
		margin-top: 10px;
		margin-left: 10px;
		position: fixed;
		border-radius: 20px 20px 20px 20px;
		border: 2px solid black;
	}
div.roundr {
		background-color: #ED1717;
		width: 40px;
		height: 40px;
		margin-top: 160px;
		margin-left: 10px;
		position: fixed;
		border-radius: 20px 20px 20px 20px;
		border: 2px solid black;
	}
p {
		margin-top: 40px;
		font-weight: bold;
		text-align: center;
	}
